<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Airbnb</title>
        <meta name="description" content="Discover the Top Ten Destinations we have choosen for you">
        <meta name="author" content="Jorge Fabregas">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/a0ac82bfd7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <header>
        <div class="nav_container">
            <div class="logo">
                <img src="/img/EnjoyB&B Logo.png" alt="EnjoyBnB Logo">
            </div>
            <div class="nav_menu">
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Host a Home</a></li>
                    <li><a href="">Sign Up</a></li>
                    <li><a href="">Login In</a></li>
                </ul>    
            </div>
        </div>
    </header>
