<h1>Hello <%= name %></h1>

<article class="main_picture">
    <img src="/img/South Glenmore Park.jpg" width="100%" alt="South Glenmore Park, Calgary, Canada">
    <p>South Glenmore Park, Calgary, Canada</p>
    <div class="booking_window">
        
    </div>
</article>